<center>
    <h1>Admin</h1>
    <form method = "GET" action = "/admin/manageDevices" enctype = "multipart/form-data" >
        <input type="submit" type="text" value="Add/Delete Device">
    </form>
    <br>
    <form method = "GET" action = "/admin/devices" enctype = "multipart/form-data" >
        <input type="submit" type="text" value="View Devices">
    </form>
    <br>
    <form method = "GET" action = "/admin/manageUsers" enctype = "multipart/form-data" >
        <input type="submit" type="text" value="Accounts/Users">
    </form>
</center>