<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(()=>{
        $('#temp').submit((event)=>{
            event.preventDefault()
            var test = $('#message').val()
            $.post('/mqtt/temperature', {
                text: test,
            }, (data)=>{
                $('#tempResult').html(data)
            })
        })
        $('#retrieve').submit((event)=>{
            event.preventDefault()
            var playlist = $('#playlist').val()
            $.post('/files/retrieve', {
                playlist: playlist,
            }, (data)=>{
                $('#retrieveResult').html(data)
            })
        })
    })  
</script>
<html>
<body>
Temperature
<br>
<form id="temp">
    Message: <input type="text" id="message"><br>
    <input type="submit">
</form>
<span id="tempResult"></span>

<p>Create Playlist</p>
<form action="/files/playlist" method="GET">
    <input type="submit" value="Create" />
</form>

<p>Schedule</p>
<form action="/files/schedule" method="GET">
    <input type="submit" value="Create" />
</form>
</body>
</html>
