<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(()=>{
        $('#temp').submit((event)=>{
            event.preventDefault()
            var test = $('#message').val()
            $.post('/mqtt/temperature', {
                text: test,
            }, (data)=>{
                $('#tempResult').html(data)
            })
        })
        $('#retrieve').submit((event)=>{
            event.preventDefault()
            var filename = $('#filename').val()
            $.post('/files/retrieve', {
                filename: filename,
            }, (data)=>{
                $('#retrieveResult').html(data)
            })
        })
    })  
</script>
<html>
<body>
Temperature
<br>
<form id="temp">
    Message: <input type="text" id="message"><br>
    <input type="submit">
</form>
<span id="tempResult"></span>

<p>Media Upload</p>
<form action="/upload">
    <input type="submit" value="Upload" />
</form>

 <!-- <form action="/files/upload"  enctype="multipart/form-data" method="POST">
    <input type="file" name="files" multiple>
    <input type="submit" value="Upload your files"/>
 </form> -->

<p>Retrieve Playlist</p>
<form id="retrieve">
    <input type="text" id="filename">
    <input type="submit" value="Get Playlist"/>
</form>
<span id="retrieveResult"></span>
</body>
</html>
