<body>
<center>
    <h1>Hi <%= name %></h1>
    <h3>Role: <%= role %></h3>
    <br><br>
    <form method = "GET" action = "/test" enctype = "multipart/form-data" >
        <input type="submit" type="text" value="Test Page">
    </form>
    <br>
    <form method = "GET" action = "/upload" enctype = "multipart/form-data" >
        <input type="submit" type="text" value="Upload Page">
    </form>
</center>
<body>
