<body>
<center>
    <h1>Hi <%= name %></h1>
    <h3>Role: <%= role %></h3>
    <br><br>
    <form method = "GET" action = "/command" enctype = "multipart/form-data" >
        <input type="submit" type="text" value="Command Page">
    </form>
    <br>
    <form method = "GET" action = "/devices" enctype = "multipart/form-data" >
        <input type="submit" type="text" value="Devices">
    </form>
    <br>
    <form method = "GET" action = "/upload" enctype = "multipart/form-data" >
        <input type="submit" type="text" value="Upload Media">
    </form>
    <br>
    <form method = "GET" action = "/files/playlist" enctype = "multipart/form-data" >
        <input type="submit" type="text" value="Create Playlist">
    </form>
    <br>
    <form method = "GET" action = "/files/schedule" enctype = "multipart/form-data" >
        <input type="submit" type="text" value="Create Schedule">
    </form>
    <br>
    <form method = "GET" action = "/media" enctype = "multipart/form-data" >
        <input type="submit" type="text" value="View Media">
    </form>
    <br>
    <form method = "GET" action = "/viewPlaylist" enctype = "multipart/form-data" >
        <input type="submit" type="text" value="View Playlists">
    </form>
    <br>
    <form method = "GET" action = "/listSchedules" enctype = "multipart/form-data" >
        <input type="submit" type="text" value="View Schedules">
    </form>
</center>
<body>
