<!DOCTYPE html>
<html>
<head>
<style>
ul.navbar{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li.navbar{
	float: left;
}

li a.navbar{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li button.navbar{
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover.navbar {
	background-color: #111;
}

</style>
</head>
<body>

<% if (authenticated) { %>
	<ul class="navbar">
		<form action="/logout?_method=DELETE" method="POST">
			<li class ="navbar"><a class ="navbar" href="<%= previousPage %>">Back</a></li>
			<li class ="navbar"><a class ="navbar" href="/">Home</a></li>
			<li class ="navbar" style="float:right"><button class ="navbar" type="submit">Logout</button></li>
		</form>
	</ul>
<% } else { %>
	<ul class ="navbar">

	</ul>
<% } %>

<main>
    <%- body %>
</main>

</body>
</html>