<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">
    var count = [1]
    var twoTables = false
    /**
     * Show filenames for the user to choose to add to playlist
     * @params {string} pos - index of the table
     */
    function showFilenames(pos){
        var table = document.getElementById('chooseTable')
        tr = table.getElementsByTagName('tr')
        for (let i = 1; i < tr.length; i++){
            var row = tr[i].getElementsByTagName('td')[0]
            var radio = row.getElementsByTagName('input')[0]
            var filename = row.innerText
            radio.setAttribute('id', 'option' + i)
            radio.setAttribute('value', filename)
        }
        document.getElementById('chooseMedia').setAttribute('class', pos)
        var popup = document.getElementById('chooseMedia')
        popup.style.display = 'block'
        
    }
    /**
     * Handle the screen configuration when clicked confirm
     */
    function handleScreenConfig(){
        var length = $('#length').val()
        if (length != 1 && document.getElementById('splitScreen').checked){
            document.getElementById('splitScreen').checked = false
            alert("Split-screen is only for single screens!")
            return
        }
        // if portrait and splitscreen, then show the 2nd table for bottom playlist
        if (document.getElementById('splitScreen').checked && $('#orientation').val().toUpperCase() == "PORTRAIT"){
            document.getElementById('screenTable1').style.display = 'block'
            document.getElementById('topScreen').textContent = "Top Playlist"
            document.getElementById('screenTable1').border = '1'
            count.push(1)
            twoTables = true
        }
        document.getElementById('screenTable0').style.display = 'block'
        document.getElementById('submitButton').style.display = 'block'
        document.getElementById('screenTable0').border = '1'
    }

    /**
     * Remove the last entry of the row of the playlist table indexed by pos  
     */
    function removeRow(pos){
        if (count[pos] > 1){
            count[pos]--
        }
        $('#screenTable' + pos + ' tbody tr:last').remove();
    }
    $(document).ready(()=>{
        /**
         * On submit of media choice, add it to the table. If it is an image, added another required input to get the duration to play for
         */
        $('#chooseMedia').submit((event) => {
            event.preventDefault()
            var chosen = document.querySelector('input[name="file"]:checked').value
            var popup = document.getElementById('chooseMedia')
            var pos = popup.getAttribute('class')
            var addLine = "<tr> <td>" + count[parseInt(pos)] + ". </td> <td>" + chosen
            if (chosen.match(/.*\.(gif|jpe?g|bmp|png)$/igm) != null){
                var id = count[parseInt(pos)] - 1
                addLine += "</td> <td> <input type='number' step='0.1' class='duration' id='dur_" + pos + '_' + id + "' placeholder='Duration (in sec)' required />"
            }
            addLine += "</td></tr>"
            count[parseInt(pos)]++
            $('#screenTable' + pos + ' tbody').append(addLine)
            popup.style.display = 'none'
        })

        /**
         * On submit, get the playlist media in sequence as an array, screen orientation, number of screens
         * Calculate the aspect ratio and send all these data as a post request 
         */
        $('#playlist').submit((event)=>{
            event.preventDefault()
            
            var playlists = []
            var screens = $('#length').val()
            for (var j = 0; j < 2; j++){
                playlists.push([])
                var screenTable = document.getElementById('screenTable' + j)
                var entries = screenTable.getElementsByTagName('tr')
                console.log(entries)
                for (var i = 1; i < entries.length-1; i++){
                    var td = entries[i].getElementsByTagName('td')
                    console.log(td)
                    playlists[j].push([td[1].innerText])
                }
                
                console.log(playlists[i])
            }
            var imgs = document.getElementsByClassName('duration')
            for (var i = 0; i < imgs.length; i++){
                var id = imgs[i].getAttribute('id')
                console.log(id)
                console.log(playlists[j])
                playlists[parseInt(id.split('_')[1])][parseInt(id.split('_')[2])].push(parseInt($('#'+id).val()))
            }
            

            var checkedScreen = false
            if (document.getElementById('splitScreen').checked){
                checkedScreen = true
            }
            var orientation = $('#orientation').val()
            var aspectRatio = []
            if (orientation.toUpperCase() == "LANDSCAPE"){
                aspectRatio = [16,9]
            }else{
                aspectRatio = [9,16]
            }
            var ratio = 0
            if (checkedScreen == true){
                ratio = 0.5
            }else{
                ratio = parseInt(screens)
            }
            if ((orientation.toUpperCase() == "PORTRAIT") && (ratio == 0.5)){
                aspectRatio = [aspectRatio[0], aspectRatio[1] * ratio]
            }else{
                aspectRatio = [aspectRatio[0] * ratio, aspectRatio[1]]
            }
            console.log(aspectRatio)
            var playlistName = $('#playlistName').val()

            $.post('/files/createPlaylist', {
                playlists: playlists,
                screens: screens,
                orientation: orientation,
                playlistName: playlistName,
                aspectRatio: aspectRatio,
                splitScreen: twoTables
            }, function(data){
                location.reload()
                //$('#playlistResult').html(data)
            })
        })
    })
</script>
</head>


<body>
    <center>
    <h1>Create Playlist</h1>
    <hr>
    <form id="chooseMedia" style="display:none;position:absolute;left:50%; top:50%; transform: translate(-50%, -50%);border:3px solid black;z-index:9;background-color:gray">
        <table id='chooseTable'>   
            <tr>
                <th>Media Files</th>
            </tr>
            <% for (var i = 0; i < filenames.length; i++) { %>
                <tr>
                    <td>
                        <input type='radio' name='file'><%= filenames[i] %>
                    </td>
                </tr>
            <% }; %>
        </table>
        <input type = "submit" value = "Choose"/>
    </form>
    <form id="playlist">
    <div class="block">
        <label>Playlist Name</label>
        <input type = 'text' name = 'playlistName' id = 'playlistName'/>
    </div>

    <hr>
    <label for='screenConfig'>Screens:</label>
    <input type="number" id='length' placeholder="Number of Screen(s)">
    <input type="button" onclick="handleScreenConfig()" value="Confirm"> 

    <label for='orientation'>Orientation: </label>
    <select id='orientation'>
        <option value="landscape">Landscape</option>
        <option value="portrait">Portrait</option>
    </select>
    <input type="checkbox" id="splitScreen" value=1 ><label for="splitScreen" id='splitLabel'>Split-Screen?</label>
    <br>
    
    <hr>
    
    <table id='screenTable0' style='display:none'>
        <thead>
            <th colspan="3" id="topScreen">Screen</th>
        </thead>
        <tbody>
            
        </tbody>
        <tfoot>
            <tr><td colspan="3">
                <input type='button' onclick='showFilenames(0)' value='Add new entry'/> 
                <input type='button' onclick='removeRow(0)' value='Remove Last Entry'/>
            </td> </tr>
        </tfoot>
    </table>
    <table id='screenTable1' style='display:none'>
        <thead>
            <th colspan="3" id="botScreen">Bottom Playlist</th>
        </thead>
        <tbody>
            
        </tbody>
        <tfoot>
            <tr><td colspan="3">
                <input type='button' onclick='showFilenames(1)' value='Add new entry'/> 
                <input type='button' onclick='removeRow(1)' value='Remove Last Entry'/>
            </td> </tr>
        </tfoot>
    </table>
    <hr>
    <input type = "submit" value = "Create" id='submitButton' style='display:none'/>
    </form>
    <span id="playlistResult"></span>
    </center>
</body>