<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">
    var fileCount = 1
    var uploadArray = [false]

    function handleFiles() {
        const file = $(this)[0].files[0]
        var parentId = $(this).parent()[0].id
        var formData = new FormData();
        formData.append("file", file);
        var ajax = new XMLHttpRequest();
        ajax.upload.addEventListener("progress", function(event){
            var percent = (event.loaded / event.total) * 100;
            $('#'+parentId).find("progress")[0].value = Math.round(percent);
        }, false);
        ajax.addEventListener("load", function(event){
            /* $('#'+parentId).find("progress")[0].value = 0; */
            uploadArray[parseInt(parentId) - 1] = true
        }, false);
        ajax.open("POST", "file_upload_parser.php"); 
        ajax.send(formData);
    }
    $(document).ready(function(){
        <% if (role == 'superuser') {%>
            var addGroup = '';
            <% piGroup.forEach(group => { %>
                addGroup += "<option value='" + "<%= group.group %>" + "'>" + "<%= group.group %>" +"</option>"
            <% }); %>
            $(document.getElementById("group")).append(addGroup)
        <% } %>
        $("#1").children().first().change(handleFiles);
        $("#newrows").click(function(){
            var addUpload = "<tr>";
            addUpload += "<td id = '"+ ++fileCount +"'><input type = 'file' name = 'file' class = 'file' accept='image/*, video/*' required/><br><progress id='progressBar' value='0' max='100' style='width:300px;'></progress></td>";
            addUpload += "</tr>";
            $("table tbody").append(addUpload);
            $("#"+fileCount).children().first().change(handleFiles);
            uploadArray.push(false)
        });
        $('#removerow').click(function(){
            $('#uploadTable tbody tr:last').remove();
            fileCount--;
            uploadArray.pop()
        })
        $('#fileUpload').submit((event) => {
            event.preventDefault()
            flag = true
            uploadArray.forEach((file)=>{
                if (!file) {
                    alert('Not all files are uploaded yet')
                    flag = false
                }
            })
            if (!flag) return false
            var formdata = new FormData();
            var img, file;

            for (var i=0; i < fileCount; i++) {
                file = $('.file')[i].files[0]
                formdata.append("file", file);
            }

            if (document.getElementById('group') != null) formdata.append('group', document.getElementById('group').value)

            $.ajax({
                url: "/files/upload",
                type: "POST",
                data: formdata,
                processData: false,
                contentType: false,
                success: function(res) {
                    if (res == 'success') location.reload()
                },       
                error: function(res) {
                    console.log('error')
                    console.log(res)
                }       
            })

        })
    });
</script>
</head>


<body>
    <center>
    <h1>File Upload</h1>
    <% if (role == 'superuser') { %>
        <label for="group">Group Name: </label>
        <select name="Group" id="group"></select>
    <% } %> 
    <hr>
    <form id="fileUpload" method = "POST" action = "/files/upload" enctype = "multipart/form-data">
    <table id='uploadTable' border ="1">
        <thead>
            <tr>
                <th>File</th>
            </tr>
        <thead>
        <tbody>
            <tr>
                <td id ='1'>
                    <input type = 'file' name = 'file' class='file' accept="image/*, video/*" required/>
                    <br>
                    <progress id="progressBar" value="0" max="100" style="width:300px;"></progress>
                </td>
            </tr>
        </tbody>
    </table>
    <hr>
    <input type = "button" value ="Add another file" id="newrows">
    <input type = "button" value ="Remove file" id="removerow">
    <input type = "submit" value = "Upload"/>
    </form>
    </center>
</body>