<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">
    var fileCount = 1
    function handleFiles() {
        const file = $(this)[0].files[0]
        var parentId = $(this).parent()[0].id
        var formData = new FormData();
        formData.append("file", file);
        var ajax = new XMLHttpRequest();
        ajax.upload.addEventListener("progress", function(event){
            var percent = (event.loaded / event.total) * 100;
            $('#'+parentId).find("progress")[0].value = Math.round(percent);
        }, false);
        ajax.addEventListener("load", function(event){
            $('#'+parentId).find("progress")[0].value = 0;
        }, false);
        ajax.open("POST", "file_upload_parser.php"); 
        ajax.send(formData);
    }
    $(document).ready(function(){
        $("#1").children().first().change(handleFiles);
        $("#newrows").click(function(){
            var addUpload = "<tr>";
            addUpload += "<td id = '"+ ++fileCount +"'><input type = 'file' name = 'file' accept='.jpg, .jpeg, .png .mov .mp4' required/><br><progress id='progressBar' value='0' max='100' style='width:300px;'></progress></td>";
            // addUpload += "<td><input type = 'text' name = 'fadeIn' pattern = '^(?:[1-9][0-9]*|0)$' required/></td>";
            // addUpload += "<td><input type = 'text' name = 'fadeOut' pattern = '^(?:[1-9][0-9]*|0)$' required/></td>";
            // addUpload += "<td><input type = 'text' name = 'length' id = 'length"+ fileCount +"' pattern = '^(?:[1-9][0-9]*)$'/></td>";
            addUpload += "</tr>";
            $("table tbody").append(addUpload);
            $("#"+fileCount).children().first().change(handleFiles);
        });
        $('#removerow').click(function(){
            $('#uploadTable tbody tr:last').remove();
        })
    });
</script>
</head>


<body>
    <center>
    <h1>File Upload</h1>
    <hr>
    <form method = "POST" action = "/files/upload" enctype = "multipart/form-data">
    <table id='uploadTable' border ="1">
        <thead>
            <tr>
                <th>File</th>
                <!-- <th>Fade In</th>
                <th>Fade Out</th>
                <th>Length</th> -->
            </tr>
        <thead>
        <tbody>
            <tr>
                <td id ='1'>
                    <input type = 'file' name = 'file' id = 'file' accept="image/*, video/*" required/>
                    <br>
                    <progress id="progressBar" value="0" max="100" style="width:300px;"></progress>
                </td>
                <!-- <td><input type = 'text' name = 'fadeIn' pattern = "^(?:[1-9][0-9]*|0)$" required/></td>
                <td><input type = 'text' name = 'fadeOut' pattern = "^(?:[1-9][0-9]*|0)$" required/></td>
                <td><input type = 'text' name = 'length' id = "length1" pattern = "^(?:[1-9][0-9]*)$"/></td> -->
            </tr>
        </tbody>
    </table>
    <hr>
    <input type = "button" value ="Add another file" id="newrows">
    <input type = "button" value ="Remove file" id="removerow">
    <input type = "submit" value = "Upload"/>
    </form>
    </center>
</body>